
body {
    margin: 20px;
    padding: 0;
  }

  h1 {
    padding: 0.5em;
    color: #494949;
    background: #c2f3d1;
    border-left: solid 5px #2ad571;
  }

  h2,
  h3 {
    padding: 0.3em;
    color: #494949;
    background: #c2f3d1;
    border-left: solid 5px #2ad571;
  }

  img {
    margin: 20px;
  }

a {
  font-weight: bold;
  text-decoration: none;
  background: rgb(82, 241, 138);
  color: #494949;
  padding: 5px 10px;
  border-radius: 20px;
  font-family: 'Avenir', 'Arial';
}

li {
  list-style-type: square;
  padding:3px;
  border-bottom: 1px #2a77e0 dotted;
  }

  .btn-submit{
    padding: 5px 15px;
    border-radius: 7px;
    border: none;
    border-bottom: 4px solid #1d7dcc;
    background-color: #2196f3;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    appearance: none;
  }
  .btn-submit:active {
    background-color: #309bf2;
    border-bottom: 2px solid #006366;
  }

  .textbox {
    width: 200px;
    padding: 3px 7px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }
  .textbox:focus {
    outline: 0;
    border: 2px solid #2196f3;
  }


